* {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

@font-face {
    font-family: 'Figtree';
    src: url('./assets/fonts/Figtree-VariableFont_wght.ttf') format('truetype-variations');
    font-weight: 300 900;
}

body {
    font-family: 'Figtree';
    font-style: normal;
    background-color: #F4D04E;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

section {
    width: 384px;
    height: 522px;
    background-color: #FFFFFF;
    border: 1px solid #111111;
    box-shadow: 8px 8px 0px #000000;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;
    gap: 24px;
}

h2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 12px;
    gap: 8px;
    width: 82px;
    height: 29px;
    background: #F4D04E;
    border-radius: 4px;

    font-weight: 800;
    font-size: 14px;
    line-height: 150%;
    color: #111111;
}

h3 {
    width: 143px;
    height: 21px;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    color: #111111;
}

a {
    width: 336px;
    height: 36px;
    font-weight: 800;
    font-size: 24px;
    line-height: 150%;
    color: #111111;
    transition: color 0.5s ease;
}

a:hover {
    color: #F4D04E;
}

div {
    display: flex;
    gap: 12px;
    width: 129px;
    height: 32px;
}

article {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

p {
    width: 336px;
    height: 72px;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #6B6B6B;
}

div p {
    width: 85px;
    height: 21px;
    font-weight: 800;
    font-size: 14px;
    line-height: 150%;
    color: #111111;
    padding-top: 5.5px;
    padding-bottom: 5.5px;
}

@media (max-width: 410px) {
    section {
        width: 327px;
        height: 501px;
    }

    .blog_image {
        width: 279px;
        height: 200px;
    }

    h2 {
        width: 73px;
        height: 26px;

        font-size: 12px;
    }

    h3 {
        width: 123px;
        height: 18px;
        font-size: 12px;
    }

    a {
        width: 279px;
        height: 30px;
        font-size: 20px;
    }

    p {
        width: 279px;
        height: 63px;
        font-size: 14px;
        line-height: 150%;
    }
}